.applink {
    display: inline-block;
    padding: 10px;
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.dashed {
    color: var(--inverted-primary-color);
    text-decoration-style: dashed;
}